#principal-content {
    flex: 1;
    display: flex;
    background-color: #FFFFFF;
    background: linear-gradient(0deg, rgba(236,124,38,1) 0%, rgba(255,255,255,0) 100%);
    transition:
        background-color 300ms ease;
    div.title {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        --scale-icon: 2.3;
        .icon {
            width: 70%;
            max-width: 400px;
            min-width: 138.4px;
            /*max-width: 400px;
            min-width: 174px;*/
            height: auto;
            /*width: calc(173.83px * var(--scale-icon));
            height: calc(116.97px * var(--scale-icon));*/
        }
        .title {
            margin-top: 8px;
            width: 70%;
            max-width: 400px;
            min-width: 138.4px;
            height: auto;
        }
    }
}
#principal-content.enter {
    background-color: #EC7C26;    
}