* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html {
  display: flex;
  overflow: hidden;
  body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    #root {
      flex: 1;
      display: flex;
      overflow: hidden;
    }
  }
}