* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html {
  display: flex;
  overflow: hidden;
  body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100svh;
    #root {
      flex: 1;
      display: flex;
      overflow: hidden;
      background-color: #FFFFFF;
      transition: background-color 500ms ease;
      --animation-duration: 500ms;
    }
    #root.enter {
      background-color: #EC7C26;
    }
  }
}